<div>
  <p>曲検索</p>
  <%= form_with url: search_songs_path, local: true, method: :get do |f| %>
    <%= f.text_field :keyword %>
    <%= f.submit "検索" %>
  <% end %>
  <p>レビュー検索</p>
  <%= form_with url: search_posts_path, local: true, method: :get do |f| %>
    <%= f.text_field :keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<div class="accbox">
  <p>ジャンルで絞り込む</p>
  <%= form_with url: genre_songs_path, local: true, method: :get do |f| %>
    <div class="accshow">
      ジャンルを選択<br>
      <input type="checkbox" genre="J-POP" value="J-POP">J-POP<br>
      <input type="checkbox" genre="ロック" value="ロック">ロック<br>
      <input type="checkbox" genre="K-POP" value="K-POP">K-POP<br>
      <input type="checkbox" genre="演歌" value="演歌">演歌<br>
      <input type="checkbox" genre="クラシック" value="クラシック">クラシック<br>
      <input type="checkbox" genre="洋楽" value="female">洋楽<br>
      <input type="checkbox" genre="アニメ" value="male">アニメ<br>
      <input type="submit" value="絞り込む">
    </div>
  <% end %>
</div>

<div class="container">
  <h3>曲一覧</h3>
  <div class= "center-block">
    <div class="col-xs-1">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>曲ID</th>
            <th>曲名</th>
            <th>アーティスト名</th>
          </tr>
        </thead>
        <% @songs.each do |song| %>
          <tbody>
            <tr>
              <td><%= song.id %></td>
              <td><%= link_to song.song_name, song_path(song.id) %></td>
              <td><%= song.artist_name %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
      <%= paginate @songs %>
    </div>
  </div>
</div>

<p>いいね一覧</p>