<p>検索</p>

<div class="container">
  <div class="row">
    <div class="mx-auto">
      <div>
        <div class="d-flex flex-row">
          <p>曲一覧</p>
        </div>

        <div class="d-flex justify-content-center flex-wrap">
          <% @songs.each do |song| %>
            <div>
                <p><%= song.id %></p>
                <%= link_to song_path do %>
                  <p><%= song.song_name %></p>
                <% end %>
                <p><%= song.artist_name %></p>
            </div>
          <% end %>
        </div>
        <div class="d-flex justify-content-center"><%= paginate @songs %></div>
      </div>
    </div>
  </div>
</div>

<p>いいね一覧</p>