<h1>新規投稿</h1>
<%= form_with model: @song, url: songs_path  do |f| %>

  <div>
    <h3>曲の情報記入欄</h3>

    <%= f.label :曲名 %>
    <%= f.text_field :song_name %><br>

    <%= f.label :アーティスト名 %>
    <%= f.text_field :artist_name %><br>

    <%= f.label :ジャンル %>
    <%= f.text_field :genre %>
  </div>

  <div>
    <h3>レビュー記入欄</h3>
    <%= f.fields_for :posts do |post| %>
      <%= post.label :どんな時に聴きたいか %>
      <%= post.text_field :listen %><br>

      <%= post.label :レビュー %>
      <%= post.text_area :text %>
    <% end %>
  </div>

  <%= f.submit '投稿' %>
<% end %>
