<div class="text-center m-2">
  <div class="border border-dark m-3">
    <h1>プロフィール</h1>

    <div>
      <h3>名前 <%= @user.name %></h3>
      <h3>メールアドレス <%= @user.email %></h3>
      <%= link_to "編集", users_information_edit_path %>
    </div>
  </div>
</div>

<div class="container">
  <h3>いいね一覧</h3>
  <div class= "center-block">
    <div class="col-xs-1">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>ユーザー名</th>
            <th>どんな時に聴きたいか</th>
            <th>レビュー</th>
          </tr>
        </thead>
        <% @likes.each do |post| %>
          <tbody>
            <tr>
              <td><%= link_to post.user.name, song_post_path(post.song_id, post.id) %></td>
              <td><%= post.listen %></td>
              <td><%= post.text %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <h3>レビュー投稿一覧</h3>
  <div class= "center-block">
    <div class="col-xs-1">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>ユーザー名</th>
            <th>どんな時に聴きたいか</th>
            <th>レビュー</th>
          </tr>
        </thead>
        <% @posts.each do |post| %>
          <tbody>
            <tr>
              <td><%= link_to post.user.name, song_post_path(post.song_id, post.id) %></td>
              <td><%= post.listen %></td>
              <td><%= post.text %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
